.EightBall-container{
    width: 200px;
    height: 200px;
    color: white;
    border-radius: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}